@import '~antd/dist/antd.css';

.App {
  text-align: left;
  
}

.header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#header-top {
  background-color: #121536;
}

#header-bottom {
  background-color: #ffffff;
}



.footer {
  color: #705873;
}

#footer-top {
  background-color: #131133;
}

#footer-bottom {
  background-color: #0f0d29;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
